<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
  width: 300px;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="password"] {
  width: 100%;
  padding: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

    </style>
    <title>Change Password</title>
</head>
<body>
    <form action="/updatepassword"method="POST">
      <div class="dynamic">{{content}}</div>
        <div>
          <label for="mobile-password">Enter Mobile Number:</label>
          <input type="tel" id="mobilenumber" name="mobilenumber" required>
        </div>
        <div>
          <label for="new-password">New Password:</label>
          <input type="password" id="newpassword" name="newpassword" required>
        </div>
        <div>
          <label for="confirm-password">Confirm New Password:</label>
          <input type="password" id="confirmpassword" name="confirmpassword" required>
        </div>
        <button type="submit">Update Password</button>
      </form>
      
</body>
</html>